.chart-line-symbol {
    -fx-background-color: #AFD5AA;
    background-color: #AFD5AA;
    -fx-background-radius: 5px;

}

.chart-series-line {
    -fx-stroke-width: 2px;
    stroke-width: 2px;
    -fx-stroke: #000;
    stroke: #000;

}

/* Style for the sweepline series */
.sweepline-series {
    -fx-stroke-width: 2px;
    stroke-width: 2px;
    /* Set the stroke width */
    -fx-stroke: #FF0000;
    stroke: #FF0000;

}

.sweepline-point {
    -fx-background-color: #FF0000;
    background-color: #FF0000;
    -fx-background-radius: 5px;
}